.navbar {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    background: #f1f0f5;
    width: 20vw;
    height: 100vh;
    margin:0;
    padding: 0;
    text-align: center;
    align-items: center;
}

.earsWrapper {
    margin-top: 5%;
    height: 0;
    padding-bottom: 40%;
    width: 40%;
    position: relative;
}

.profile {
    margin: 0;
    height: 0;
    width: 50%;
    padding-bottom: 50%; 
    border: 2px solid #CCC;
    border-radius: 20%;
    overflow: hidden;
}

.navbar__list {
    margin-top: 10%;
    margin-bottom: 0;
    width: 60%;
    font-size: 110%;
    padding: 0;
    list-style-type: none;
}

.navbar__list li {
    border: 2px solid #899FD0;
    background: transparent;
    margin-bottom: 18%;
    border-radius: 1vw;
    align-items: center;
}

.navbar__list li:hover {
    background: #AEC1F0;
}

.navbar__list li a {
    text-decoration: none;
    color: #899FD0;
    display:inline-block;
    padding-top: 5%;
    padding-bottom: 5%;
}

.contact {
    font-size: 100%;
    color: #899FD0;
}

.contact h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.contact p {
    margin-top: 5%;
}

.icons {
    display: flex;
    margin-top: 3%;
    width: 50%;
    justify-content: space-between;
}

.icon {
    font-size: 200%;
}

